.announcements-section {
    max-width: 900px;
    margin: 80px auto;
    padding: 0;
    background-color: #ffffff;
    border-radius: 12px;
    border: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
    transform: none;
    transition: transform 0.5s ease;
    text-align: center;
    overflow: hidden;
    position: relative;
}

#news-list {
    list-style: none;
    padding: 0 40px;
    margin: 0;
    text-align: left;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.02);
    max-height: 270px;
    overflow-y: auto;
}

#news-list li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    cursor: default;
    transition: background-color 0.3s ease;
}

#news-list li:not(:last-child) {
    border-bottom: 1px dashed #e0e0e0;
}
#news-list li:last-child {
    border-bottom: none;
}

#news-list li strong {
    flex-shrink: 0;
    width: 140px;
    font-size: 1.2em;
    color: #555;
    font-weight: normal;
    text-align: right;
    letter-spacing: 0.8px;
}

#news-list li span {
    flex-grow: 1;
    color: #333;
    font-size: 1.1em;
    line-height: 1.6;
    text-align: left;
    padding-right: 20px; /* 日付との間に余白 */
}

@media (max-width: 800px) {

    .announcements-section {
        margin: 40px auto;
        border-radius: 0;
        box-shadow: none;
    }
    .announcements-section h3 {
        padding: 20px 0;
    }

    #news-list {
        padding: 0 20px;
        max-height: 350px;
        overflow-y: auto;
    }
    #news-list li {
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
        text-align: center;
        border-bottom: 1px dashed #e0e0e0;
    }

    #news-list li strong {
        width: auto;
        margin-right: 0;
        margin-bottom: 5px;
        text-align: center;
    }

    #news-list li span {
        padding-right: 0;
        text-align: center;
        font-size: 1em;
    }

}